<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="5.0.0" manuallyInstalled="true" />
  <package id="NLog" version="5.2.7" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="SimpleTCP" version="1.0.24" manuallyInstalled="true" />
</packages>