<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OptimalFuzzyPartition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <OptimalFuzzyPartition.Properties.Settings>
            <setting name="PartitionImageSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedLanguage" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="ConfigurationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AlwaysShowCentersInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrawGrayscalePartition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrawPartitionWithMistrustCoef" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MistrustCoef" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowGradientInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PositionDigitsCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>View/LightTheme.xaml</value>
            </setting>
        </OptimalFuzzyPartition.Properties.Settings>
    </userSettings>
</configuration>